*{
    box-sizing: border-box;
    background-color: #fafafa;

}


body {
    margin: 0;
    font-family: monospace;
}

.navFlexContainer {

    display: flex;
    justify-content: right;
    gap: 2rem;
    padding-right: 3rem;
    padding-top: 1rem;

}

.navFlexContainer a {
    text-decoration: none;
    color: black;


}

header {
    display:flex;

}

.headerImage{
    width:100vw;
}

/*header {*/
/*    padding: 10rem 7rem;*/
/*    font-family: "Poppins", sans-serif;*/
/*}*/


.aboutImage {
    width: 100vw;


}


.aboutFlexContainer {
    padding: 5rem 3rem;

}

.projectTitle {
    text-align:center;
}


.projectsFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}


.project1 {
    background-color: #e43d12;
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}




.project2 {
    background-color: #d65360;
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}


.project3 {
    background-color: #efb11d;
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}


.project4 {
    background-color: rgba(170, 170, 170, 0.3);
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}

.project5 {
    background-color: rgba(170, 170, 170, 0.3);
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}

.project6 {
    background-color: rgba(170, 170, 170, 0.3);
    width: 28rem;
    height: 28rem;
    padding: 1rem;
    text-align:center;
}



footer {
    padding: 5rem;
    text-align: center;

}



/*!* 1100px and up*!*/
/*@media screen and (min-width:1100px){*/
/*    .projectsFlexContainer {*/
/*        flex-direction: row;*/
/*        align-content: center;*/
/*        flex-wrap: wrap;*/
/*        margin: 8rem;*/

/*    }*/



    /*header{*/
    /*    padding: 10rem 7rem;*/

    /*}*/




    /*footer {*/
    /*    padding: 10rem 0;*/
    /*}*/



/*800 and up */
@media screen and (min-width:800px) {
    .projectsFlexContainer {
        padding-right: 8rem;
        padding-left: 8rem;


    }

    footer {
        padding: 10rem 0;
    }

}



/*full screen */
@media screen and (min-width:640px){
    .projectsFlexContainer {
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        margin: 4rem;

    }

        /*header{*/
        /*    padding-top: 25rem;*/
        /*    padding-right: 20rem;*/
        /*    padding-bottom: 15rem;*/
        /*    padding-left: 20rem;*/

        /*}*/

        footer {
            padding: 10rem 0;
        }

    }



