*{
    box-sizing: border-box;
    background-color: #fafafa;

}


body {
    margin: 0;
    font-family: monospace;
}

.navFlexContainer {

    display: flex;
    justify-content: right;
    gap: 2rem;
    padding-right: 3rem;
    padding-top: 1rem;

}

.navFlexContainer a {
    text-decoration: none;
    color: black;
    font-size: 16pt;


}

header {
    display:flex;

}

.headerImage{
    width:100vw;
}

/*header {*/
/*    padding: 10rem 7rem;*/
/*    font-family: "Poppins", sans-serif;*/
/*}*/


.aboutImage {
    width: 100vw;


}


.aboutFlexContainer {
    padding: 5rem 3rem;

}




/*.projectTitle {*/
/*    text-align:center;*/
/*    font-size: 18pt;*/
/*    font-family: "Poppins", sans-serif;*/
/*    color:#423b3b;*/
/*}*/

.title_portfolio {
    width: 100vw;
}

.projectsFlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

}



.project1 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}


.proj1image {
    width: 30rem;

}



.project2 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}


.project3 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}


.project4 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}

.project5 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}

.project6 {
    border: 4px dashed #e43d12;
    border-radius:50px;
    width: 43rem;
    height: 43rem;
    padding: 1rem;
    text-align:center;
    font-size: 15pt;
}



footer {
    padding: 5rem;
    text-align: center;

}



/*!* 1100px and up*!*/
/*@media screen and (min-width:1100px){*/
/*    .projectsFlexContainer {*/
/*        flex-direction: row;*/
/*        align-content: center;*/
/*        flex-wrap: wrap;*/
/*        margin: 8rem;*/

/*    }*/



    /*header{*/
    /*    padding: 10rem 7rem;*/

    /*}*/




    /*footer {*/
    /*    padding: 10rem 0;*/
    /*}*/



/*800 and up */
@media screen and (min-width:800px) {
    .projectsFlexContainer {
        padding-right: 8rem;
        padding-left: 8rem;


    }

    footer {
        padding: 10rem 0;
    }

}



/*full screen */
@media screen and (min-width:640px){
    .projectsFlexContainer {
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        margin: 4rem;

    }

        /*header{*/
        /*    padding-top: 25rem;*/
        /*    padding-right: 20rem;*/
        /*    padding-bottom: 15rem;*/
        /*    padding-left: 20rem;*/

        /*}*/

        footer {

            font-size: 18pt;
        }

    }

.footer_image {
    width: 100vw;
}




